/* screen - mainpage */

.mainpage {
  align-items: flex-end;
  background-color: var(--textwhite-default);
  border: 1px none;
  display: flex;
  flex-direction: column;
/*  height: 881px;*/
  padding: 31.7px 21.5px;
  width: 438px;
}

.mainpage .flex-row {
  gap: 295px;
  height: 30px;
  margin-right: 21.56px;
  min-width: 344px;
}

.mainpage .vector {
  height: 18px;
  width: 21px;
}

.mainpage .alert-icon {
  align-self: flex-end;
  cursor: pointer;
  height: 27px;
  width: 28px;
}

.mainpage .user-box {
  align-items: flex-end;
  display: flex;
  gap: 37px;
  height: 86px;
  margin-right: 24.61px;
  margin-top: 40px;
  min-width: 337px;
}

.mainpage .group {
  height: 88px;
  margin-bottom: -1.0px;
  margin-left: -1px;
  width: 86px;
}

.mainpage .flex-col {
  flex-direction: column;
  gap: 24px;
  margin-bottom: 0.24px;
  min-height: 74px;
  width: 209px;
}

.mainpage .text-container {
  align-items: flex-end;
  display: flex;
  min-width: 209px;
}

.mainpage .text-44 {
  color: transparent;
  font-family: var(--font-family-jejugothic-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  white-space: nowrap;
  width: 65px;
}

.mainpage .span1 {
  color: var(--black);
  font-size: var(--font-size-s);
}

.mainpage .span2 {
  color: var(--black);
  font-size: 24px;
}

.mainpage .text-46 {
  cursor: pointer;
  height: 28px;
  letter-spacing: 0;
  line-height: 20.8px;
  text-align: center;
  text-decoration: underline;
  width: 144px;
}

.mainpage .text-45 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  white-space: nowrap;
}

.mainpage .make-challenge {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-right: 17.41px;
  margin-top: 43px;
  width: 355px;
}

.mainpage .text-41 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 15px;
  min-height: 23px;
  white-space: nowrap;
}

.mainpage .group-33 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-top: 17px;
  min-width: 353px;
  flex-direction: column;
}

.mainpage .overlap-group {
  height: 66px;
  position: relative;
  width: 353px;
  margin-bottom: 10px;
}

.mainpage .rectangle-80 {
  background-color: #faa0a05e;
  height: 66px;
  left: 14px;
  position: absolute;
  top: 0;
  width: 339px;
}

.mainpage .text-42 {
  color: var(--black);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-m);
  font-weight: 700;
  height: 23px;
  left: 0;
  letter-spacing: 0;
  line-height: 26.0px;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
  width: 256px;
}

.mainpage .text-43 {
  color: var(--shady-lady);
  font-family: var(--font-family-jejugothic-regular);
  font-size: var(--font-size-xxxs);
  font-weight: 400;
  left: 264px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 32px;
  width: 81px;
}

.mainpage .group-62 {
  align-self: flex-end;
  cursor: pointer;
  height: 78px;
  margin-right: -1.83px;
  width: 347px;
}

.mainpage .quote {
  align-items: flex-start;
  display: flex;
  margin-top: 43px;
  min-width: 388px;
}

.mainpage .overlap-group3 {
  background-color: var(--textwhite-default);
  height: 85px;
  position: relative;
  width: 384px;
}

.mainpage .text-39 {
  color: var(--black);
  font-family: var(--font-family-jim_nightshade);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 44px;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 334px;
}

.mainpage .text-40 {
  color: var(--black);
  font-family: var(--font-family-jim_nightshade);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  height: 27px;
  left: 99px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 50px;
  width: 187px;
}

.mainpage .polygon-2 {
  left: 26px;
  top: 25px;
}

.mainpage .polygon-3 {
  left: 346px;
  top: 24px;
}

.mainpage .my-mate {
  align-items: flex-start;
  align-self: center;
   flex-direction: column;
  display: flex;
  margin-left: 3.0px;
  margin-top: 43px;
  min-width: 339px;
}

.mainpage .my-mate > * {
  margin-bottom: 10px; /* Adjust this value as needed */
}


.mainpage .group-container {
  height: 146px;
  position: relative;
  width: 341px;
}


.mainpage .group-64 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 1px;
  min-height: 146px;
  position: absolute;
  top: 90px;
  width: 340px;
}


.mainpage .to-do {
  letter-spacing: 0;
  line-height: normal;
  min-height: 23px;
  white-space: nowrap;
}

.mainpage .overlap-group-1 {
  align-items: flex-end;
  background-image: url(../img/rectangle-79.svg);
  background-size: 100% 100%;
  display: flex;
  height: 46px;
  margin-left: 1px;
  margin-top: 10px;
  min-width: 337px;
  padding: 7.5px 18.2px;
}

.mainpage .group-1 {
  align-self: flex-start;
  height: 30px;
  width: 30px;
}

.mainpage .text-36 {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.73px;
  margin-left: 15px;
  min-height: 23px;
  white-space: nowrap;
  width: 61px;
}

.mainpage .text-37 {
  color: #7d6f6f99;
  font-family: var(--font-family-jejugothic-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 1.73px;
  margin-left: 7px;
  min-height: 23px;
  white-space: nowrap;
  width: 147px;
}

.mainpage .overlap-group1 {
  height: 45px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 339px;
}

.mainpage .group-65 {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  height: 45px;
  left: 0;
  min-width: 339px;
  position: absolute;
  margin-bottom: 20px;
  top: 0;
}

.mainpage .searchbox {
  font-size: 15px;
  align-items: flex-start;
  background-color: var(--textwhite-default);
  border: 0.5px solid;
  border-color: var(--black);
  border-radius: 3px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 45px;
  min-width: 272px;
  padding: 10px 41px;
}

.mainpage .to-do-1 {
  color: var(--shady-lady);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-xs);
  font-weight: 700;
  height: 23px;
  letter-spacing: 0;
  line-height: 19.5px;
  text-align: center;
  white-space: nowrap;
  width: 189px;
}

.mainpage .rectangle-81 {
  background-color: #f1f1f1;
  height: 45px;
  width: 57px;
  border: 0.5px solid;
  border-color: var(--black);
  border-radius: 3px;
  box-shadow: 0px 4px 4px #00000040;
}

.form-inline {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mainpage .text-38 {
  color: var(--shady-lady);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-xs);
  font-weight: 700;
  height: 23px;
  left: 295px;
  letter-spacing: 0;
  line-height: 19.5px;
  position: absolute;
  text-align: center;
  top: 11px;
  white-space: nowrap;
  width: 35px;
}

.mainpage .go-to-analysis {
     letter-spacing: 0;
      line-height: normal;
      min-height: 23px;
      white-space: nowrap;
      margin-bottom: 20px;
      transition: color 0.3s;
    }

.mainpage .go-to-analysis:hover {
  color: blue; /* Change the text color to blue on hover */
}

.mainpage .flex {
  align-items: flex-start;
  display: flex;
}

.mainpage .polygon {
  height: 16px;
  position: absolute;
  width: 13px;
}

.mainpage .rectangle {
  border-radius: 3px;
  box-shadow: 0px 4px 4px #00000040;
}
